.App{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    flex-direction: column;

    & .TitleSection {
        display: flex;
        justify-content: center;  
        flex-direction: column;  
        align-items: center;
        width: 100%;
        height: 300px;
        background-color: #5db9ff;
        color: white;

        & input {
           width: 200px;
           height: 40px;
           border: 1px solid #5db9ff;
           border-radius: 10px; 
           font-size: 18px;
           padding-left: 10px;
        }

        & button {
            width: 200px;
            height: 60px;
            border: none;
            border-radius: 10px; 
            font-size: 18px;
            padding: 10px; 
            margin-top: 1rem;
            color: white;
            background-color: #000cbf;

            &:hover {
                box-shadow: 1.5px 1.7px 6px black ;
                cursor: pointer;

            }
        }
    }
}

body{
    margin: 0;
    padding: 0;
}

.DisplaySection{
    display: flex;
    flex-direction:column ;
    align-items: center;
    text-align: center;
    padding: 2rem;

    & h1{
        text-decoration: underline;
    }
    & h3 , h4 {
        margin-top: 1rem;
    }

    & img{
        width: 200px;
        margin-top: 1rem;

    }
    & p{
        margin-top: 1rem;
    }
}

